.user-nutrition {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.un__user-container {
  background-color: #0c7b93;
  border-radius: .75rem;
  margin: 0 auto 1rem;
  width: 29rem;
}

.un__header {
  padding: .5rem 0 .5rem 1rem;
  background-color: #27496d;
  border-radius: .75rem .75rem 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.un__header-text {
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  color: #40ceb8;
}

.un__clear-button {
  text-decoration: none;
  height: 3rem;
  font-size: 2.2rem;
  padding: .3rem .6rem;
  margin: 0 1rem;
  border: 1px solid #142850;
  border-radius: .3rem;
  color: whitesmoke;
  background-color: #142850;
}

.un__clear-button:hover {
  cursor: pointer;
  background-color: #40ceb8;
}

.un__h6 {
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem 0;
  margin: 0 auto;
}

.un__p {
  font-size: 1.8rem;
  padding: .5rem 0;
  margin: 0;
}

.un__split-container {
  display: flex;
  justify-content: space-around;
}