#register {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #AAA;
}

.register-container {
  color: #444;
  text-align: center;
  line-height: 1.5;
}

.register-form {
  background-color: #CCC;
  padding: 10px 15px;
}